docs/*.aux
docs/*.glo
docs/*.idx
docs/*.log
docs/*.toc
docs/*.ist
docs/*.acn
docs/*.acr
docs/*.alg
docs/*.bbl
docs/*.blg
docs/*.dvi
docs/*.glg
docs/*.gls
docs/*.ilg
docs/*.ind
docs/*.lof
docs/*.lot
docs/*.maf
docs/*.mtc
docs/*.mtc1
docs/*.out
docs/*.synctex.gz